html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/dashboard.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title OGRAA

    body
        include client-blue-header

        #title-container
            h1#title DASHBOARD

        #search-box
            input#search-input(type="text", placeholder="Search")
            button#search-button Search

        if !result || result.length === 0
            #no-table-message
                h1 No requests have been made currently.
                a(href='/dashboard') Go back to dashboard
        else
            #table-container
                table
                    thead
                        tr
                            th
                                a(href='/dashboard-reqID-desc') Request Number (Asc)
                            th
                                a(href='/dashboard-title-asc') Document Title
                            th
                                a(href='/dashboard-date-asc') Date Submitted
                            th
                                a(href= '/dashboard') Current Status
                            th
                    tbody
                        each item in result
                            tr
                                td= item.requestID
                                td= item.documentTitle
                                td= item.dateSubmitted
                                td= item.overallStatus
                                td
                                    a(href=`/document-progress/${item.requestID}`)
                                        button(type='button')
                                            b View Progress