doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        script(src="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/req_dashboard.css")
        link(rel="stylesheet", href="/css/req.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title Document Progress

    body
        include client-blue-header

        div#track
            h1 Track Document

        div#flow-data
            - const indexToRetrieve = 0;
            - const title = documentData[indexToRetrieve].documentTitle;
            - const description = documentData[indexToRetrieve].documentDescription;
            - const dateSubmitted = documentData[indexToRetrieve].dateReceived;
            - const documentType = documentData[indexToRetrieve].documentType;
                h2 #{title}
                p Document Type: #{documentType}
                p Document Description: #{description}
                p Date Submitted: #{dateSubmitted}


            div#progress-block
                ul.progress-bar
                    each item in documentData
                        if item.status === 'Approved' || item.status === 'Waiting'
                            li
                        else if item.status === 'Pending' || item.status === 'Returned'
                            li.stop

            ul.information
                each item in documentData
                        li
                            b= item.office
                            p Status: #{item.status}
        div#renderDocument
            - let stopLoop = false
                each item in documentData
                    if !stopLoop
                        if item.status === 'Pending'
                            - const filepath = `/documents/${userData.username}/${item.document_file}`
                                iframe(src=filepath, width="900px", height="825px")
                                - stopLoop = true
        br
        br
        each item in documentData
            if item.status === 'Returned'
                div#reupload
                    form(action="", method="POST" name="reqForm" enctype="multipart/form-data")

                        .input-container
                            label(for="document-message") Document Message:
                            textarea#document-message(rows="4", cols="50", required, name='mssg')

                        #submission
                            span.fa-input
                                i.fas.fa-folder-open
                            p Upload files here
                            .upload-btn-wrapper
                                button.btn Upload a file.
                                input#browse-button(type='file', name="pdfFile" accept='.pdf', required)

                        button#req-button(type="submit", name="actionTaken", value= "reupload")
                            b Reupload


