doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        script(src="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/req_dashboard.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title Document Progress

    body
        include client-blue-header

        div#track
            h1 Track Document

        div#flow-data
            - const indexToRetrieve = 0;
            - const title = documentData[indexToRetrieve].documentTitle;
            - const description = documentData[indexToRetrieve].documentDescription;
            - const dateSubmitted = documentData[indexToRetrieve].dateReceived;
            - const documentType = documentData[indexToRetrieve].documentType;
                h2 #{title}
                p Document Type: #{documentType}
                p Document Description: #{description}
                p Date Submitted: #{dateSubmitted}


            div#progress-block
                ul.progress-bar
                    each item in documentData
                        if item.status === 'Approved'
                            li
                        else if item.status === 'Pending'
                            li.stop

            ul.information
                each item in documentData
                        li
                            b= item.office
                            p Status: #{item.status}
        div#renderDocument
            - let stopLoop = false
                each item in documentData
                    if !stopLoop
                        if item.status === 'Pending'
                            - const filepath = `/documents/${userData.username}/${item.document_file}`
                                iframe(src=filepath, width="800px", height="825px")
                                - stopLoop = true


