doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        script(src="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/doc-review.css")
        script(src='/lib/webviewer.min.js')
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title Document Progress

    body
        include client-white-header

        div#content-container
            h1 View Document
            div#inside-container

                div#document-info
                        p Referring Entity: #{documentData[0].referringEntity}
                        p Document Title: #{documentData[0].documentTitle}
                        p Document Type: #{documentData[0].documentType}
                        p Number of Pages: #{documentData[0].numberOfPages}
                        p Document Description: #{documentData[0].documentDescription}
                        p Document Message: #{documentData[0].message}

                div.side-holder
                    label(for="document-message") Document Message:
                    textarea#document-message(rows="4", cols="30", required, name='mssg')
                    button#approve
                        - const path = `/render`;
                        a(href='/render')
                            b Approve

                    button#return
                        b Return
        br
        br
        div#documentRender
            div#viewer
            script(src="/lib/index.js")

