html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/dashboard.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title OGRAA

    body
        include client-white-header
        #title-container
            h1#title DASHBOARD

        #search-box
            input#search-input(type="text", placeholder="Search")
            button#search-button Search

        if !departmentResult || departmentResult.length === 0
            #no-table-message
                h1 No requests have been made currently.
        else
            #table-container
                table
                    thead
                        tr
                            th Request Number
                            th Requester
                            th Document Title
                            th Date Submitted
                            th Current Status
                            th
                    tbody
                        each item in departmentResult
                            tr
                                td= item.requestID
                                td= item.referringEntity
                                td= item.documentTitle
                                td= item.dateReceived
                                td= item.status
                                td
                                    a(href=`/document-review/${item.requestID}`)
                                        button(type='button')
                                            b View Document